<!--Interpolação-->
<h1>AnaApp</h1>
<hr />
<h3>
  Nome: <strong>{{ name }}</strong>
</h3>
<!--Pode ser usada expressões dentro da interpolação-->
<h3>
  Idade: <strong>{{ 2022 - nascimento }} anos</strong>
</h3>
<!--E métodos também-->
<h3>
  Idade: <strong>{{ getIdade() }} anos</strong>
</h3>
<hr />
<!--Contador sem precisar fazer uma rotina-->
<h3>Contador: {{ counter }}</h3>
<h3>Timer: {{ getMinutos() }}'{{ getSegundos() }}''</h3>
<hr />
<!--If e For-->
<div *ngFor="let n of [25, 7, 8, 9, 12, 90, 67, 3]">
  {{ n }} =
  <span *ngIf="n % 2 == 0">Par</span>
  <span *ngIf="n % 2 != 0">Ímpar</span>
</div>
